node_modules/
.env
# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo
*.suo
*.user
*.ilk
*.meta
*.obj
*.pdb
*.rsp
*.tlb
*.tlh
*.tmp
*.bak
*.rej
*~
*.log
*.pack
*.nupkg
*.swp
*.swo
*.DS_Store
*.env
.venv/
venv/
env/
